<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-items">
      <mat-list-item style="background-color: red; text-align: center;">
        <div style="width: 100%;">
          <i class="material-icons v-middle">
            home
          </i>
          <span class="v-middle">Inicio</span>
        </div>
      </mat-list-item>
      <a mat-list-item>
        <i class="material-icons">
          storefront
        </i>
        Inicio
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>